html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "FontName", Helvetica, Arial, sans-serif;
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #000000;
  letter-spacing: -0.01em;
}

p {
  font-family: "Lato", serif;
  line-height: 1.7em;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5em;
  color: #000000;
}

a {
  text-decoration: none;
  font-family: "Arvo", sans-serif;
  color: #000000;
}

hr {
  margin: 1em auto;
  width: 80%;
  display: block;
  color: #000000;
}

.screenreader-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 1680px */
@media (max-width: 105em) {
  .menu-toggle {
    display: none;
  }

  #site_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-indent: 0.5em;
    font-size: 90%;
    z-index: 10;
    background-color: #efefef;
    height: 100px;
  }

  .site_header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    left: 0;
  }
  .site_header hgroup.site-title {
    width: 20%;
    flex: 1 0 auto;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.5rem;
    text-align: left;
    line-height: 40px;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1rem;
    text-align: left;
  }
  .site_header .site_navigation {
    width: 60%;
    flex: 1 0 auto;
    height: auto;
    margin-bottom: 0.5em;
  }
  .site_header .site_navigation ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
  }
  .site_header .site_navigation ul .tablink {
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    flex: 0 0 auto;
    width: 33%;
    line-height: 50px;
    margin: 0;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
    text-align: center;
  }
  .site_header .site_navigation .tablink:hover {
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  .site_header span.social {
    height: 40px;
    width: 20%;
    flex: 1 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }
  .site_header span.social ul#social {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    list-style: none;
  }
  .site_header span.social ul#social li.social-item {
    width: 32%;
    height: auto;
    margin-right: 0.2em;
    text-align: center;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .site_header span.social ul#social li.social-item a {
    margin: 0;
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    background-color: #ffffff;
  }
  .site_header span.social ul#social li.social-item a object {
    line-height: 40px;
    height: auto;
    color: #ffffff;
    width: 25%;
    height: 40px;
    display: block;
  }
  .site_header span.social ul#social li.social-item a object:hover {
    cursor: pointer;
  }

  #collection-boxes {
    position: relative;
    z-index: 1;
    height: auto;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    transition: all 1s;
  }
  #mask3 article.collection-box h1 {
    display: block;
    height: auto;
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    line-height: 50px;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
    display: block;
    margin: auto;
  }

  main.site_content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 1em 0;
    min-height: 80vh;
    width: 100%;
    margin-bottom: 0.5em;
  }
  @keyframes example {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  main.site_content .tabcontent {
    opacity: 0;
    transition: opacity 500ms;
  }
  main.site_content .tabcontent.scrolled {
    opacity: 1;
    animation-name: example;
    animation-duration: 1s;
  }
  main.site_content div#banner,
  main.site_content div#about_content,
  main.site_content div#outro {
    min-height: 82vh;
    margin-bottom: 100px;
  }
  main.site_content div#banner {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 0 auto;
    height: 100%;
  }
  main.site_content div#banner article#bannertext {
    width: calc(60% - 5%);
    position: relative;
    background-color: #fff;
    padding: 1%;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.9rem;
    width: auto;
    text-align: left;
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    line-height: 70px;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 1.1em;
    width: calc(100% - 1%);
    color: #000000;
    text-shadow: 1px 1px #ffffff;
    line-height: 1.8em;
  }
  main.site_content div#banner figure {
    position: relative;
    z-index: 9;
    display: block;
    padding: 0;
    margin: 1em auto;
    width: 340px;
    border: 10px solid #fff;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    width: auto;
    margin: 0 auto;
    vertical-align: bottom;
  }
  main.site_content div#banner::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    filter: grayscale(75%);
    background-image: url("../images/sergi-kabrera-2xU7rYxsTiM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* Center the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }
  main.site_content div#about_content {
    width: 97.7%;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
  main.site_content div#about_content article#abouttext {
    width: 48%;
    float: left;
    display: block;
    background-color: #efefef;
    padding: 0.25em;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.5rem;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    line-height: 50px;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 1em;
    width: calc(100% - 1%);
    line-height: 1.9em;
  }
  main.site_content div#about_content .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 0.25em;
    background-color: #000000;
    width: 50%;
  }
  main.site_content div#about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content div#about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content div#about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content div#about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content div#about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content div#about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content div#about_content .div7 {
    grid-area: 3 / 1 / 3 / 2;
  }
  main.site_content div#about_content .div8 {
    grid-area: 3 / 2 / 3 / 3;
  }
  main.site_content div#about_content .div9 {
    grid-area: 3 / 3 / 3 / 4;
  }
  main.site_content div#about_content figure.box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ffffff;
  }
  main.site_content div#about_content figcaption.cover {
    position: absolute;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    font-family: "Ruda", sans-serif;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    width: 85%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    float: none;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    line-height: 40px;
    font-weight: normal;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
  }
  main.site_content div#about_content figcaption.cover a.cert_link:hover {
    font-weight: bold;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    width: 100%;
    font-size: 1em;
    margin: 0.5em 0;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
  }
  main.site_content div#about_content figure.box:hover figcaption.cover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    cursor: pointer;
  }
  main.site_content div#about_content figure.box > img,
  main.site_content div#about_content figure > picture {
    margin: 0 auto;
    display: block;
  }
  main.site_content div#about_content figure.box:hover img {
    margin: 0 auto;
    display: block;
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  main.site_content div#outro {
    width: 97.7%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding: 0.5em;
    height: 100%;
  }
  main.site_content div#outro article#outrotext {
    display: block;
    width: 99.5%;
    background-color: #efefef;
    padding: 0.25em;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.5rem;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    line-height: 50px;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 1em;
    width: calc(100% - 1%);
    line-height: 1.8em;
  }
  main.site_content div#outro article#outrotext p a {
    display: inline-block;
    width: auto;
    font-weight: bold;
  }
  main.site_content div#outro article#outrotext p a:hover {
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
  }

  .site_footer {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    clear: both;
  }
  .site_footer ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
    height: 100%;
    width: 80%;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .site_footer ul li {
    float: left;
    height: 50px;
    width: 10%;
    margin: 0;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .site_footer ul li a {
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;
    display: block;
    font-size: 1em;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
  }
  .site_footer ul li a:hover {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }
}
/* 1440px */
@media (max-width: 90em) {
  #site_wrapper {
    width: 92%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.4rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.9rem;
  }
  .site_header .site_navigation {
    /* Style tab links */
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.95em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }
  .site_header span.social {
    height: 40px;
  }
  .site_header span.social ul#social li.social-item {
    width: 32%;
  }
  .site_header span.social ul#social li.social-item a {
    font-size: 0.9em;
  }
  .site_header span.social ul#social li.social-item a:hover {
    cursor: pointer;
  }
  .site_header span.social ul#social li.social-item a object {
    margin: auto;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 1em 20px;
  }
  main.site_content div#banner {
    flex: 0 0 auto;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.7rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 1.1em;
  }
  main.site_content div#banner figure {
    margin: 1em auto;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#about_content {
    width: 97.7%;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.45em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.95em;
  }
  main.site_content div#about_content .parent {
    padding: 0.25em;
  }
  main.site_content div#outro {
    width: 97.7%;
  }
  main.site_content div#outro article#outrotext {
    width: 100%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.45em;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 0.95em;
  }

  .site_footer {
    height: 50px;
  }
  .site_footer ul {
    width: 80%;
  }
  .site_footer ul li {
    margin: 0;
  }
  .site_footer ul li a {
    font-size: 1em;
  }
}
/* 1280px */
@media (max-width: 80em) {
  div#banner,
  div#about_content,
  div#outro {
    min-height: 80vh;
  }

  #site_wrapper {
    width: 94%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title {
    width: 25%;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.2rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.9rem;
  }
  .site_header .site_navigation {
    width: 55%;
  }
  .site_header .site_navigation ul {
    width: 60%;
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.9em;
  }
  .site_header .site_navigation ul .tablink a {
    text-align: center;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content div#banner {
    flex: 0 0 auto;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.5rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 1.05em;
  }
  main.site_content div#banner figure {
    margin: 1em auto;
    width: 280px;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#about_content {
    width: 97.7%;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.4em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.9em;
    line-height: 1.9em;
  }
  main.site_content div#about_content .parent {
    padding: 0.25em;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    font-size: 1em;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    font-size: 1em;
  }
  main.site_content div#outro {
    width: 97.7%;
  }
  main.site_content div#outro article#outrotext {
    width: 100%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.4em;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 0.9em;
    line-height: 1.8em;
  }

  .site_footer {
    height: 50px;
  }
  .site_footer ul {
    width: 80%;
  }
  .site_footer ul li {
    margin: 0;
  }
  .site_footer ul li a {
    font-size: 0.9em;
  }
}
/* 1024px */
@media (max-width: 64em) {
  #site_wrapper {
    width: 96%;
  }

  .site_header hgroup.site-title {
    width: 30%;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.2rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.9rem;
  }
  .site_header .site_navigation {
    width: 50%;
  }
  .site_header .site_navigation ul {
    width: 70%;
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.85em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }
  .site_header span.social {
    height: 40px;
    width: 20%;
  }
  .site_header span.social ul#social li.social-item {
    width: 32%;
  }
  .site_header span.social ul#social li.social-item a {
    font-size: 0.9em;
  }
  .site_header span.social ul#social li.social-item a:hover {
    cursor: pointer;
  }
  .site_header span.social ul#social li.social-item a object {
    width: 35%;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content div#banner {
    flex: 0 0 auto;
  }
  main.site_content div#banner article#bannertext {
    width: calc(100% - 5%);
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.3rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 1em;
  }
  main.site_content div#banner figure {
    margin: 1em auto;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#about_content {
    width: 97.7%;
  }
  main.site_content div#about_content article#abouttext {
    width: 100%;
    margin-bottom: 1em;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.35em;
  }
  main.site_content div#about_content article#abouttext p {
    line-height: 1.8em;
  }
  main.site_content div#about_content .parent {
    padding: 0.25em;
    width: 90%;
    margin: auto;
  }
  main.site_content div#outro {
    width: 97.7%;
  }
  main.site_content div#outro article#outrotext {
    width: 100%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.35em;
  }
  main.site_content div#outro article#outrotext p {
    line-height: 1.8em;
  }

  .site_footer {
    height: 50px;
  }
}
/* 800px */
@media (max-width: 50em) {
  #site_wrapper {
    width: 98%;
  }

  .site_header hgroup.site-title {
    width: 35%;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.1rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.8rem;
  }
  .site_header .site_navigation {
    width: 45%;
  }
  .site_header .site_navigation ul {
    width: 80%;
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.8em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }
  .site_header span.social {
    height: 40px;
  }
  .site_header span.social ul#social li.social-item {
    width: 32%;
  }
  .site_header span.social ul#social li.social-item a {
    font-size: 0.8em;
  }
  .site_header span.social ul#social li.social-item a object {
    width: 45%;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content div#banner {
    flex: 0 0 auto;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.2rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 0.95em;
  }
  main.site_content div#banner figure {
    width: 220px;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#about_content {
    width: 97.7%;
    flex: 0 0 auto;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.3em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.9em;
  }
  main.site_content div#about_content .parent {
    margin: auto;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    font-size: 1em;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    font-size: 0.9em;
  }
  main.site_content div#outro {
    width: 97.7%;
  }
  main.site_content div#outro article#outrotext {
    width: 100%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.3em;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 0.9em;
  }

  .site_footer {
    height: 50px;
  }
  .site_footer ul {
    width: 80%;
  }
  .site_footer ul li {
    margin: 0;
  }
  .site_footer ul li a {
    font-size: 0.85em;
  }
}
/* 600px */
@media (max-width: 37.5em) {
  #site_wrapper {
    width: 98%;
  }

  .site_header hgroup.site-title {
    width: 35%;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.05rem;
    line-height: 35px;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.8rem;
  }
  .site_header .site_navigation {
    width: 45%;
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.7em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }
  .site_header span.social {
    height: 40px;
    width: 15%;
  }
  .site_header span.social ul#social li.social-item {
    width: 31%;
  }
  .site_header span.social ul#social li.social-item a {
    font-size: 0.9em;
  }
  .site_header span.social ul#social li.social-item a:hover {
    cursor: pointer;
  }
  .site_header span.social ul#social li.social-item a object {
    width: 55%;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content div#banner {
    width: 100%;
  }
  main.site_content div#banner figure {
    margin: 1em auto;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2.1rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 0.9em;
  }
  main.site_content div#about_content {
    width: 95%;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.2em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.85em;
  }
  main.site_content div#about_content .parent {
    width: 95%;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    font-size: 0.9em;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    font-size: 0.9em;
  }
  main.site_content div#outro {
    width: 95%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.2em;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 0.85em;
    line-height: 1.8em;
  }

  .site_footer {
    height: 50px;
  }
  .site_footer ul {
    width: 80%;
  }
  .site_footer ul li {
    margin: 0;
  }
  .site_footer ul li a {
    font-size: 0.8em;
  }
}
/* 480px */
@media (max-width: 30em) {
  .menu-toggle {
    position: relative;
    z-index: 105;
    display: block;
    top: 1vh;
    font-size: 1em;
    text-transform: uppercase;
    background-color: #000000;
    color: #ffffff;
    border: none;
    transition: all ease-out 0.4s;
    line-height: 50px;
    height: 50px;
    width: 25%;
    text-align: center;
    padding: 0;
    left: calc(75% - 2%);
  }

  .menu-toggle.hide {
    left: 110vw;
  }

  /* Make sure the button doesn't hide when menu is open. */
  .menu-toggle:hover,
  .menu-toggle:focus {
    text-decoration: underline;
    border: solid 2px #000000;
    cursor: pointer;
  }

  .toggled .menu-toggle.hide {
    bottom: 1em;
  }

  #site_wrapper {
    width: 98%;
  }

  .site_header hgroup.site-title {
    width: 65%;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.3rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.9rem;
  }
  .site_header .show {
    top: 0;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .site_header .hide {
    top: -405px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  .site_header .site_navigation {
    position: fixed;
    z-index: 100;
    top: -180px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin: 0;
    left: 0;
  }
  .site_header .site_navigation ul {
    height: 100%;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .site_header .site_navigation ul .tablink {
    height: 60px;
    list-style: none;
    width: 100%;
    display: block;
    margin-bottom: 0;
    font-size: 1em;
  }
  .site_header .site_navigation ul .tablink a {
    line-height: 60px;
    margin: 0;
    letter-spacing: 0.1em;
    font-size: 1em;
    text-align: center;
    display: block;
    color: #ffffff;
    background-color: #000000;
  }
  .site_header .site_navigation ul .tablink:hover {
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  .site_header .site_navigation .nav-menu {
    padding: 1em;
    margin-bottom: 3em;
  }
  .site_header span.social {
    height: 40px;
  }
  .site_header span.social ul#social {
    width: 100%;
  }
  .site_header span.social ul#social li.social-item {
    width: 33%;
  }
  .site_header span.social ul#social li.social-item a {
    font-size: 0.9em;
  }
  .site_header span.social ul#social li.social-item a:hover {
    cursor: pointer;
  }
  .site_header span.social ul#social li.social-item a object {
    width: 50%;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
    min-height: unset;
    height: auto;
  }
  main.site_content div#banner {
    width: 100%;
  }
  main.site_content div#banner figure {
    margin: 1em auto;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 2rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 0.85em;
  }
  main.site_content div#about_content {
    width: 95%;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.2em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.85em;
  }
  main.site_content div#about_content .parent {
    width: 98%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  main.site_content div#about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content div#about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content div#about_content .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content div#about_content .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content div#about_content .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  main.site_content div#about_content .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  main.site_content div#about_content .div7 {
    grid-area: 4 / 1 / 5 / 2;
  }
  main.site_content div#about_content .div8 {
    grid-area: 4 / 2 / 5 / 3;
  }
  main.site_content div#about_content .div9 {
    grid-area: 5 / 1 / 6 / 2;
  }
  main.site_content div#about_content figcaption.cover {
    position: absolute;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    font-size: 0.9em;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    font-size: 0.9em;
  }
  main.site_content div#outro {
    width: 95%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.15em;
  }
  main.site_content div#outro article#outrotext p {
    line-height: 1.8em;
  }

  .site_footer {
    height: 50px;
  }
}
/* 360px */
@media (max-width: 22.5em) {
  #site_wrapper {
    width: 98%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.2rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 0.9rem;
  }
  .site_header .site_navigation {
    height: 180px;
  }
  .site_header .site_navigation ul {
    height: 100%;
  }
  .site_header .site_navigation ul .tablink a {
    font-size: 0.9em;
  }
  .site_header .site_navigation ul .tablink:hover {
    font-weight: bold;
    color: #000000;
    cursor: pointer;
  }
  .site_header .site_navigation .nav-menu {
    padding: 1em;
    margin-bottom: 3em;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content div#banner {
    width: 100%;
  }
  main.site_content div#banner figure {
    margin: 0 auto;
  }
  main.site_content div#banner figure > img,
  main.site_content div#banner figure > picture {
    display: block;
  }
  main.site_content div#banner article#bannertext h2 {
    font-size: 1.8rem;
  }
  main.site_content div#banner article#bannertext p {
    font-size: 1em;
  }
  main.site_content div#about_content {
    width: 95%;
  }
  main.site_content div#about_content article#abouttext h2 {
    font-size: 1.1em;
  }
  main.site_content div#about_content article#abouttext p {
    font-size: 0.8em;
  }
  main.site_content div#about_content .parent {
    width: 98%;
  }
  main.site_content div#about_content figcaption.cover {
    position: absolute;
  }
  main.site_content div#about_content figcaption.cover a.cert_link {
    font-size: 0.8em;
  }
  main.site_content div#about_content figcaption.cover h2.cert_title {
    font-size: 0.8em;
  }
  main.site_content div#outro {
    width: 95%;
  }
  main.site_content div#outro article#outrotext h2 {
    font-size: 1.1em;
  }
  main.site_content div#outro article#outrotext p {
    font-size: 0.8em;
    line-height: 1.8em;
  }

  .site_footer {
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
