html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #25274d;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Ruda", sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
}

p {
  font-family: "Roboto Slab", serif;
  line-height: 1.7em;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5em;
  color: #fff;
}

a {
  text-decoration: none;
  font-family: "Ruda", sans-serif;
  color: #fff;
}

hr {
  margin: 2em auto;
  width: 80%;
  display: block;
  color: #000;
}

.screenreader-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1680px) {
  #site_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-indent: 0.5em;
    font-size: 90%;
    z-index: 10;
  }

  .site_header {
    height: 100px;
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: red;
    left: 0;
  }
  .site_header hgroup.site-title {
    width: 23%;
    flex: 0 0 auto;
  }
  .site_header hgroup.site-title h1 {
    font-size: 2rem;
    text-align: left;
    line-height: 40px;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1rem;
    text-align: left;
  }
  .site_header .site_navigation {
    width: 40%;
    flex: 0 0 auto;
    height: auto;
    margin-bottom: 0.5em;
    /* Style tab links */
  }
  .site_header .site_navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .site_header .site_navigation ul .tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    flex: 0 0 auto;
    width: 33%;
    line-height: 50px;
    margin: 0;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
    text-align: center;
  }
  .site_header .site_navigation .tablink:hover {
    background-color: #777;
    cursor: pointer;
  }

  #collection-boxes {
    position: relative;
    z-index: 1;
    height: auto;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    transition: all 1s;
  }
  #mask3 article.collection-box h1 {
    display: block;
    height: auto;
    margin: 0.5em auto;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    line-height: 50px;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
    display: block;
    margin: auto;
  }

  section#banner,
  section#about_content,
  section#outro {
    min-height: 82vh;
  }

  main.site_content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 1em 0;
    min-height: 80vh;
    width: 100%;
    margin-bottom: 0.5em;
  }
  main.site_content h2 {
    text-align: left;
    font-size: 1.5rem;
    line-height: auto;
    align-self: flex-start;
    width: 100%;
  }
  @keyframes example {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(0.25);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  main.site_content .tabcontent {
    animation-name: example;
    animation-duration: 1s;
  }
  main.site_content section#banner {
    z-index: 0;
    width: 97.7%;
    flex: 0 0 auto;
    padding: 1em;
    background-color: #2e9cca;
    height: 100%;
  }
  main.site_content section#banner article#bannertext {
    width: 100%;
  }
  main.site_content section#banner article#bannertext h2 {
    font-size: 5.5rem;
    align-self: flex-start;
    width: auto;
  }
  main.site_content section#banner article#bannertext p {
    width: 100%;
    font-size: 1.5em;
    width: calc(100% - 1%);
  }
  main.site_content section#banner figure {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  main.site_content section#banner figure > img,
  main.site_content section#banner figure > picture {
    display: block;
    width: auto;
    margin: 0 auto;
  }
  main.site_content section#about_content {
    width: 97.7%;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 1em;
    background-color: #29648a;
  }
  main.site_content section#about_content article#abouttext {
    width: 49%;
    float: left;
    display: block;
  }
  main.site_content section#about_content article#abouttext h2 {
    align-self: flex-start;
    width: 100%;
    line-height: 50px;
  }
  main.site_content section#about_content article#abouttext p {
    width: calc(100% - 1%);
    line-height: 1.8em;
  }
  main.site_content section#about_content .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 0.25em;
    background-color: #fff;
    width: 50%;
  }
  main.site_content section#about_content img {
    margin: auto;
    display: block;
  }
  main.site_content section#about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content section#about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content section#about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content section#about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content section#about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content section#about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content section#about_content figure.box {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #25274d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  main.site_content section#about_content figcaption.cover {
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    font-family: "Ruda", sans-serif;
  }
  main.site_content section#about_content figcaption.cover a.cert_link {
    width: 86%;
    border: none;
    font-size: 0.85em;
    cursor: pointer;
    float: none;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    line-height: 40px;
    font-weight: normal;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  main.site_content section#about_content figcaption.cover a.cert_link:hover {
    font-size: 0.95em;
    font-weight: normal;
  }
  main.site_content section#about_content figcaption.cover h1.cert_title {
    width: 100%;
    font-size: 1em;
    margin: 0.5em 0;
    line-height: 40px;
    color: #fff;
    text-align: center;
  }
  main.site_content section#about_content figure.box:hover figcaption.cover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    cursor: pointer;
  }
  main.site_content section#about_content figure.box:hover img {
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  main.site_content section#outro {
    width: 97.7%;
    flex: 1 0 auto;
    padding: 1em;
    background-color: #287386;
    height: 100%;
  }
  main.site_content section#outro article#outrotext {
    width: 100%;
  }
  main.site_content section#outro article#outrotext h2 {
    width: 100%;
    line-height: 50px;
  }
  main.site_content section#outro article#outrotext p {
    width: 100%;
    width: calc(100% - 1%);
    line-height: 1.8em;
  }

  .site_footer {
    background-color: #59047a;
    width: 100%;
    height: 50px;
    clear: both;
  }
}
@media (max-width: 1440px) {
  #site_wrapper {
    width: 92%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.9rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.4rem;
  }
  .site_header .site_navigation {
    /* Style tab links */
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.9em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.5rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 13%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
  }
  main.site_content article.about_content {
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    width: 100%;
  }
  main.site_content article.about_content .parent {
    padding: 0.25em;
  }
  main.site_content article.about_content img {
    width: 90%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    width: 100%;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 1280px) {
  #site_wrapper {
    width: 94%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.8rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.3rem;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.3rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 14%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.9em;
  }
  main.site_content article.about_content {
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.9em;
  }
  main.site_content article.about_content .parent {
    padding: 0.25em;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    width: 100%;
    font-size: 0.9em;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 1024px) {
  #site_wrapper {
    width: 96%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.7rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.2rem;
  }
  .site_header .site_navigation {
    /* Style tab links */
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.85em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.2rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 13%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.85em;
  }
  main.site_content article.about_content {
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.85em;
  }
  main.site_content article.about_content .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  main.site_content article.about_content img {
    width: 80%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  main.site_content article.about_content .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    font-size: 0.85em;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 800px) {
  #site_wrapper {
    width: 98%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.7rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.2rem;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.2rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 13%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.85em;
  }
  main.site_content article.about_content {
    width: 100%;
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.85em;
  }
  main.site_content article.about_content .parent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 98%;
    margin: auto;
  }
  main.site_content article.about_content img {
    width: 80%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    font-size: 0.85em;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 600px) {
  #site_wrapper {
    width: 98%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.7rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.2rem;
  }
  .site_header .site_navigation {
    /* Style tab links */
  }
  .site_header .site_navigation ul .tablink {
    font-size: 0.8em;
  }
  .site_header .site_navigation ul .tablink a {
    display: block;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.2rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 20%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.85em;
  }
  main.site_content article.about_content {
    width: 100%;
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.85em;
  }
  main.site_content article.about_content .parent {
    width: 98%;
  }
  main.site_content article.about_content img {
    width: 80%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div6 {
    grid-area: 2 / 3 / 3 / 4;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    font-size: 0.85em;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 480px) {
  #site_wrapper {
    width: 98%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.7rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.2rem;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.2rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 20%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.85em;
  }
  main.site_content article.about_content {
    width: 100%;
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.85em;
  }
  main.site_content article.about_content .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 98%;
    margin: auto;
  }
  main.site_content article.about_content img {
    width: 80%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  main.site_content article.about_content .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    font-size: 0.85em;
  }

  .site_footer {
    height: 50px;
  }
}
@media (max-width: 360px) {
  #site_wrapper {
    width: 98%;
  }

  .site_header {
    height: 100px;
  }
  .site_header hgroup.site-title h1 {
    font-size: 1.7rem;
  }
  .site_header hgroup.site-title h2 {
    font-size: 1.2rem;
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
  }
  #mask3 .unfade {
    opacity: 0;
  }
  #mask3 .fade {
    opacity: 1;
  }
  #mask3 article.collection-box {
    position: absolute;
  }
  #mask3 article.collection-box h1 {
    font-size: 1.3em;
  }
  #mask3 article.collection-box h1:hover {
    cursor: pointer;
  }
  #mask3 article.collection-box img {
    width: 60%;
  }

  main.site_content {
    gap: 2em 20px;
  }
  main.site_content h2 {
    font-size: 1.2rem;
  }
  main.site_content article.banner {
    width: 100%;
  }
  main.site_content article.banner figure {
    width: 20%;
  }
  main.site_content article.banner img.main_image {
    display: block;
  }
  main.site_content article.banner p {
    width: 100%;
    font-size: 0.85em;
  }
  main.site_content article.about_content {
    width: 100%;
    flex: 0 0 auto;
  }
  main.site_content article.about_content article.text_box p {
    font-size: 0.85em;
  }
  main.site_content article.about_content .parent {
    width: 98%;
  }
  main.site_content article.about_content img {
    width: 80%;
  }
  main.site_content article.about_content .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  main.site_content article.about_content .div2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  main.site_content article.about_content .div3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  main.site_content article.about_content .div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  main.site_content article.about_content .div5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  main.site_content article.about_content .div6 {
    grid-area: 3 / 2 / 4 / 3;
  }
  main.site_content article.about_content figure.box {
    position: relative;
  }
  main.site_content article.about_content figcaption.cover {
    position: absolute;
  }
  main.site_content article.about_content figcaption.cover a.cert_link {
    width: 86%;
    font-size: 0.85em;
  }
  main.site_content article.about_content figcaption.cover a.cert_link:hover {
    font-size: 0.9em;
  }
  main.site_content article.about_content figcaption.cover h1.cert_title {
    font-size: 0.9em;
  }
  main.site_content article.about_content figure.box:hover figcaption.cover {
    opacity: 1;
  }
  main.site_content article.outro {
    width: 100%;
  }
  main.site_content article.outro p {
    font-size: 0.85em;
  }

  .site_footer {
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
