@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
  -moz-box-sizing: $type; // Firefox < 29
  box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin rayborder($shadow...) {
  -webkit-border-radius: $shadow;
  -moz-border-radius: $shadow;
  -o-border-radius: $shadow;
  border-radius: $shadow;
}

@mixin raytransition($transitioner...) {
  -webkit-transition: $transitioner;
  -moz-transition: $transitioner;
  -o-transition: $transitioner;
  transition: $transitioner;
}

@mixin raytransform($raytransform...) {
  transform: $raytransform;
  -webkit-transform: $raytransform;
  -moz-transform: $raytransform;
  -o-transform: $raytransform;
}

$textcolor1: #000;
$textcolor2: #fff;
$textcolor3: #464866;
$textcolor4: #aaabb8;
$bgcolor: #25274d;
$maincontentcolor: #25274d;
$Homepagebgcolor: #2e9cca;
$pageTwobgcolor: #29648a;
$pageThreebgcolor: #287386;

$colorblack: #000;
$colorwhite: #fff;

html {
  @include box-sizing(border-box);
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $bgcolor;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Ruda", sans-serif;
  padding: 0;
  margin: 0;
  color: $textcolor2;
}

p {
  font-family: "Roboto Slab", serif;
  line-height: 1.7em;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5em;
  color: $textcolor2;
}

a {
  text-decoration: none;
  font-family: "Ruda", sans-serif;
  color: $textcolor2;
}

hr {
  margin: 2em auto;
  width: 80%;
  display: block;
  color: $colorblack;
}

.screenreader-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 1680px) {
  #site_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }
  .site_header {
    height: 100px;
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    hgroup.site-title {
      width: 23%;
      flex: 0 0 auto;
      h1 {
        font-size: 2rem;
        text-align: left;
        line-height: 40px;
      }
      h2 {
        font-size: 1rem;
        text-align: left;
      }
    }

    .site_navigation {
      width: 40%;
      flex: 0 0 auto;
      height: auto;
      margin-bottom: 0.5em;
      /* Style tab links */
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .tablink {
          background-color: #555;
          color: white;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 1em;
          flex: 0 0 auto;
          width: 33%;
          line-height: 50px;
          margin: 0;
          a {
            display: block;
            text-align: center;
          }
        }
      }

      .tablink:hover {
        background-color: #777;
        cursor: pointer;
      }
    }
  }
  #collection-boxes {
    position: relative;
    z-index: 1;
    height: auto;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      overflow: auto;
      transition: all 1s;

      h1 {
        display: block;
        height: auto;
        margin: 0.5em auto;
        text-align: center;
        font-size: 1.5em;
        padding: 0;
        line-height: 50px;
        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
        display: block;
        margin: auto;
      }
    }
  }

  main.site_content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: stretch;
    gap: 1em 0;
    min-height: 80vh;
    width: 100%;
    margin-bottom: 0.5em;

    h2 {
      text-align: left;
      font-size: 1.5rem;
      line-height: auto;
      align-self: flex-start;
      width: 100%;
    }

    @keyframes example {
      0% {
        transform: scale(0);
      }
      25% {
        transform: scale(0.25);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .tabcontent {
      height: auto;
      animation-name: example;
      animation-duration: 0.5s;
    }

    article#banner {
      z-index: 0;
      width: 97.7%;
      flex: 0 0 auto;
      padding: 1em;
      background-color: $Homepagebgcolor;
      height: 100%;
      figure {
        //width: 13%;
        display: block;
        padding: 0;
        margin: 0 auto;
      }
      img,
      picture {
        display: block;
        width: auto;
        margin: 0 auto;
      }
      p {
        width: 100%;
      }
    }

    article#about_content {
      width: 97.7%;
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      padding: 1em;
      background-color: $pageTwobgcolor;
      height: 100%;

      h2 {
        align-self: flex-start;
        width: 100%;
      }
      .text_box {
        width: 49%;
        float: left;
        display: block;

        p {
          width: calc(100% - 1%);
        }
      }

      .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: dense;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 0.25em;
        background-color: $colorwhite;
        width: 50%;
      }
      img {
        margin: auto;
        display: block;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        margin: 0;
        background-color: $maincontentcolor;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      figcaption.cover {
        position: absolute;
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        @include raytransition(all 200ms ease-in-out);
        @include raytransform(scale(0));
        font-family: "Ruda", sans-serif;
        a.cert_link {
          width: 86%;
          border: none;
          font-size: 0.85em;
          cursor: pointer;
          float: none;
          margin: 0 auto;
          text-decoration: none;
          display: block;
          line-height: 40px;
          font-weight: normal;
          background-color: $colorblack;
          color: $colorwhite;
          text-align: center;

          &:hover {
            font-size: 0.95em;
            font-weight: normal;
          }
        }

        h1.cert_title {
          width: 100%;
          font-size: 1em;
          margin: 0.5em 0;
          line-height: 40px;
          color: $colorwhite;
          text-align: center;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
        @include raytransform(scale(1));
        cursor: pointer;
      }

      figure.box:hover img {
        opacity: 1;
        @include raytransform(scale(1.1));
      }
    }

    article#outro {
      width: 97.7%;
      flex: 1 0 auto;
      padding: 1em;
      background-color: $pageThreebgcolor;
      height: 100%;
      p {
        width: 100%;
      }
    }
  }

  .site_footer {
    background-color: rgb(89, 4, 122);
    width: 100%;
    height: 50px;
    clear: both;
  }
}

@media (max-width: 1440px) {
  #site_wrapper {
    width: 92%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.9rem;
      }
      h2 {
        font-size: 1.4rem;
      }
    }
    .site_navigation {
      /* Style tab links */
      ul {
        .tablink {
          font-size: 0.9em;

          a {
            display: block;
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.5rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 13%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
      }
    }

    article.about_content {
      flex: 0 0 auto;
      .text_box {
        p {
          width: 100%;
        }
      }
      .parent {
        padding: 0.25em;
      }
      img {
        width: 90%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        width: 100%;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 1280px) {
  #site_wrapper {
    width: 94%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.8rem;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.3rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 14%;
      }
      img.main_image {
        display: block;
      }

      p {
        width: 100%;
        font-size: 0.9em;
      }
    }

    article.about_content {
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.9em;
        }
      }
      .parent {
        padding: 0.25em;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        width: 100%;
        font-size: 0.9em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 1024px) {
  #site_wrapper {
    width: 96%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .site_navigation {
      /* Style tab links */
      ul {
        .tablink {
          font-size: 0.85em;

          a {
            display: block;
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.2rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 13%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
        font-size: 0.85em;
      }
    }

    article.about_content {
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.85em;
        }
      }
      .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
      img {
        width: 80%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div6 {
        grid-area: 3 / 2 / 4 / 3;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        font-size: 0.85em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 800px) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.2rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 13%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
        font-size: 0.85em;
      }
    }

    article.about_content {
      width: 100%;
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.85em;
        }
      }
      .parent {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 98%;
        margin: auto;
      }
      img {
        width: 80%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        font-size: 0.85em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 600px) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .site_navigation {
      /* Style tab links */
      ul {
        .tablink {
          font-size: 0.8em;

          a {
            display: block;
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.2rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 20%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
        font-size: 0.85em;
      }
    }

    article.about_content {
      width: 100%;
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.85em;
        }
      }
      .parent {
        width: 98%;
      }
      img {
        width: 80%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        font-size: 0.85em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 480px) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.2rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 20%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
        font-size: 0.85em;
      }
    }

    article.about_content {
      width: 100%;
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.85em;
        }
      }
      .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 98%;
        margin: auto;
      }
      img {
        width: 80%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div6 {
        grid-area: 3 / 2 / 4 / 3;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        font-size: 0.85em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

@media (max-width: 360px) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    h2 {
      font-size: 1.2rem;
    }

    article.banner {
      width: 100%;
      figure {
        width: 20%;
      }
      img.main_image {
        display: block;
      }
      p {
        width: 100%;
        font-size: 0.85em;
      }
    }

    article.about_content {
      width: 100%;
      flex: 0 0 auto;
      .text_box {
        p {
          font-size: 0.85em;
        }
      }
      .parent {
        width: 98%;
      }
      img {
        width: 80%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div6 {
        grid-area: 3 / 2 / 4 / 3;
      }

      figure.box {
        position: relative;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          width: 86%;
          font-size: 0.85em;

          &:hover {
            font-size: 0.9em;
          }
        }

        h1.cert_title {
          font-size: 0.9em;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;
      }
    }

    article.outro {
      width: 100%;

      p {
        font-size: 0.85em;
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}
