@import "partials/variables";
@import "partials/mixins";
@import "partials/base";

:root {

	--text-error: none;
  --email-error: none;
	--url-error: none;
	--comment-error:none;
}





/* 1680px */
@media (max-width: 105em) {
  .menu-toggle {
    display: none;
  }
  #site_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-indent: 0.5em;
    font-size: 90%;
    z-index: 10;
    background-color: $bgcolor;
    height: 100px;
  }
  .site_header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    left: 0;

    hgroup.site-title {
      width: 20%;
      flex: 1 0 auto;
      h1 {
        font-size: 1.5rem;
        text-align: left;
        line-height: 40px;
      }
      h2 {
        font-size: 1rem;
        text-align: left;
      }
    }

    .site_navigation {
      width: 60%;
      flex: 1 0 auto;
      height: auto;
      margin-bottom: 0.5em;
      ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    		width: 80%;
        .tablink {
          color: $textcolor1;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 1em;
          flex: 0 0 auto;
          width: 24%;
          line-height: 50px;
          margin: 0;
          @include raytransition(all, 0.5s);
          a {
            display: block;
            text-align: center;
						&:hover{
							background-color:$textcolor1;
							color:$textcolor2;

						}
          }
        }
      }

      .tablink:hover {
        font-weight: bold;
        color: $textcolor1;
        cursor: pointer;
      }
    }

    ul#social {
        height: 40px;
      	width: 12%;
        margin: 0;
        padding: 0;
				flex: 1 0 auto;
        display: flex;
        list-style: none;
				font-family: "FontAwesome";
        li.social-item {
          width: 32%;
          height: auto;
          margin-right: 0.2em;
          text-align: center;
          -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          a {
            margin: 0;
            font-size: 0.9em;
            text-decoration: none;
            color: $textcolor1;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: $colorwhite;
						text-align: center;
						i.fa-twitter,
						i.fa-facebook,
						i.fa-linkedin,
						i.far.fa-discord{
							display: block;
							width: 100%;
							height: 100%;
							text-align: center;
							line-height: 40px;
							font-size: 1.25em;
							//color: $colorsocmedhov;
							@include raytransition(all 0.2s ease-in 0s);
							&:hover {
								transform: scale(1.2);
								font-weight: bold;
								//text-shadow: 0 0 0 $header-shadow;
								cursor: pointer;
							}
						}


          }
        }

    }

  }

  main.site_content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 1em 0;
    min-height: 80vh;
    width: 100%;
    margin-bottom: 0.5em;

    @keyframes example {
      0% {
        transform: scale(0);
      }
      25% {
        transform: scale(0.25);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

		.tabcontent {
      opacity: 0;
      transition: opacity 500ms;
    }

    .tabcontent.scrolled {
      opacity: 1;
      animation-name: example;
      animation-duration: 0.5s;
    }

    div#banner,
		section#project_page,
    section#about_content,
    section#contact{
      min-height: 90vh;
      margin-bottom: 100px;
    }

    div#banner {
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 0 0 auto;

      article#bannertext {
        width: calc(60% - 5%);
        position: relative;
        background-color: #fff;
        padding: 1%;

        h2 {
          font-size: 2.9rem;
          width: auto;
          text-align: left;
          color: $textcolor1;
          text-shadow: 1px 1px $textcolor2;
          line-height: 70px;
        }
        p {
          font-size: 1.1em;
          width: calc(100% - 1%);
          color: $textcolor1;
          text-shadow: 1px 1px $textcolor2;
          line-height: 1.8em;
        }
      }

      figure {
        position: relative;
        z-index: 9;
        display: block;
        padding: 0;
        margin: 1em auto;
        width: 340px;
        border: 10px solid #fff;
      }

      figure > img,
      figure > picture {
        width: auto;
        margin: 0 auto;
        vertical-align: bottom;
      }
    }

    div#banner::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      filter: grayscale(75%);
      background-image: url("../images/sergi-kabrera-2xU7rYxsTiM-unsplash.jpg");
      background-repeat: no-repeat;
      background-position: center; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }

		section#project_page{
			display: flex;
			flex-flow: column;
			justify-content: flex-start;
			align-items: center;
			gap: 4em;
			h2{
				align-self: flex-start;
			}

			div#project_page_container{
				width:100%;
				display:block;
			}

			ul#project_tabs{
				display: flex;
				-webkit-flex-flow: row ;
				flex-flow: row ;
				-webkit-justify-content: start;
				justify-content: start;
				-webkit-align-items: stretch;
				align-items: stretch;
				list-style:none;
				padding:0;
				margin: 0 0 0.5em 0;
				@include raytransition(all 0.2s ease-in 0s);

				li{
					width:auto;
					margin-right:0.2em;
					button.project_tab{
						padding: 1em 2em;
						&:hover{
							cursor:pointer;
						}
					}
				}
			}

			.parent {
        display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-flow: row wrap;
				-ms-flex-flow: row wrap;
				flex-flow: row wrap;
				-webkit-justify-content: flex-start;
				justify-content: flex-start;
				-webkit-align-items: flex-start;
				align-items: flex-start;
        padding: 0;
        //background-color: $textcolor4;
        width: 100%;
				margin:auto;
      }

			.box-show{
				display:block;
				opacity:1;
				animation-name: example;
      	animation-duration: 0.5s;
			}

			.box-hide{
				display:none;
				opacity:0;
			}

      figure.box {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        margin: 0 0.25% 0.2em 0;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: $textcolor2;
				width:24.75%;
				-webkit-flex: 0 1 auto;
				-ms-flex: 0 1 auto;
				flex: 0 1 auto;

      }

      figcaption.cover {
        position: absolute;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        @include raytransition(all 200ms ease-in-out);
        @include raytransform(scale(0));
        font-family: "Ruda", sans-serif;

        a.cert_link {
          width: 85%;
          border: none;
          font-size: 1em;
          cursor: pointer;
          float: none;
          margin: 0 auto;
          text-decoration: none;
          display: block;
          line-height: 40px;
          font-weight: normal;
          background-color: $textcolor1;
          color: $textcolor2;
          text-align: center;

          &:hover {
            font-weight: bold;
          }
        }

        h2.cert_title {
          width: 100%;
          font-size: 1em;
          margin: 0.5em 0;
          line-height: 40px;
          color: $textcolor2;
          text-align: center;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;

        @include raytransform(scale(1));
        cursor: pointer;
      }

      figure.box > img,
      figure > picture {
        margin: 0 auto;
        display: block;
      }

      figure.box:hover img {
        margin: 0 auto;
        display: block;
        opacity: 1;
        @include raytransform(scale(1.1));
      }

		}

    section#about_content {
      width: 100%;
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: space-between;
			h2 {
				font-size: 1.5rem;
				text-align: left;
				align-self: flex-start;
				width: 100%;
				line-height: 50px;
			}

      div#abouttext {
        width: 100%;
        float: left;
        display: block;
        background-color: $bgcolor;
        padding: 0.25em;

				figure{
					display:block;
					float:left;
					margin:0 0.5em 0 0;
				}

				a{
					font-weight:bold;
				}

        p {
          font-size: 1em;
          width: calc(100% - 1%);
          line-height: 2.5em;
        }
      }
    }

    section#contact{
      width: 100%;
      padding: 0.5em;
			background-color: $bgcolor;
			display:flex;
			flex-flow: column;
			justify-content: flex-start;
			align-items: center;
			gap: 4em;
			h2 {
				font-size: 1.5rem;
				text-align: left;
				align-self: flex-start;
				width: 100%;
				line-height: 50px;

			}
			div#contact_container{
				display: flex;
				flex-flow: row wrap;
				justify-content: center;
				width:98%;
				section#contact-details{
					width: 40%;
					flex: 1 0 auto;
					h3{
						text-indent: 1em;
						font-size: 1.25rem;
					}
					address{
						height:auto;
						width: 90%;
						margin: auto;
						ul{
							display:block;
							list-style:none;
							padding: 0;
							li{
								height:auto;
								font-family: "FontAwesome";

								a {
									width: auto;
									display: inline-block;
									font-size: 1em;
									line-height: 40px;
									margin-left: 1em;
								}

								a[href~='mailto']::before {
										content: '\f466';
										font-size: 1em;
								}

								a[title~='follow me on github']::before {
									content: '\f301';
									font-size: 1em;
								}

								a[href~='www.linkedin.com']::before {
									content: '\f18d';
									font-size: 1em;
								}

								a[href~='github.com']::before {
									content: '\f237';
									font-size: 1em;
								}
							}
						}
					}

					#map_image{
						width: 90%;
						margin: 1em auto;
						padding: 0;
						img{
							width:100%;
						}
					}
				}
				.hide-error {
					display: none;
				}
				.show-error{
					line-height: 35px;
					background: #fff;
					margin-bottom: 0.2em;
					display: block;
					color: red;
					border: 2px red solid;
					text-align:center;
					animation-name: example;
					animation-duration: 0.2s;

				}
				form#myform {
					width:50%;
					flex: 1 0 auto;
					padding:0.5em;

					ol {
						list-style: none;
						margin: 0;
						padding: 0;
						width:100%;


						li {
							height: auto;
							margin-bottom:0.5em;
							label,
							#comment-header {
								display: block;
								width: 100%;
								line-height: 40px;
							}

							label[for="questionitem"]{
								float: left;
								width: 80%;
								line-height: 30px;
							}

							input#myname:hover,
							input#myemail:hover,
							input#myurl:hover,
							input[type="radio"]:hover,
							input[type="radio"]:focus,
							input#myname:focus,
							input#myemail:focus,
							input#myurl:focus,
							select{
								border-color: $pageTwobgcolor;
								-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px;
								-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px;
								box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px;
								background-color: $pageTwobgcolor;
								outline: none;
								display: block;
							}

							input#myname:valid,
							input#myemail:valid	{
								border: solid 3px green;
							}

							input#myname,
							input#myemail,
							input#myurl{
								display: block;
								line-height: 35px;
								width: 100%;
							}

							input#myname{
								border: var(--text-error);
							}

							input#myemail{
								border: var(--email-error);
							}

							input#myurl{
								border: var(--url-error);
							}

							ol#comment-box {
								padding: 0;
								display:flex;
								flex-flow: row;
								align-items: flex-start;
								justify-content: flex-start;
								li{
									width:33%;
									flex: 1 0 auto;
									height: 30px;
									margin:0;
									label{
										width: 50%;
										height: 100%;
									}

									input[type="radio"]{
										display: inline-block;
										height: 30px;
										flex: 1 0 auto;
										width: 5%;
										padding:0;
										margin:0;
									}
								}
							}



							select{
								line-height:40px;
								height:40px;
								width:100%;
							}

							textarea#mycomments {
								width: 100%;
								border: var(--comment-error);
							}


						}
					}
					button#submit {
						display:block;
						width: 100%;
						height: 35px;
						margin:auto;
						font-size:1.1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}
    }
  }

  .site_footer {
    background-color: $textcolor2;
    width: 100%;
    height: 50px;
    clear: both;
    ul {
      list-style: none;
      margin: auto 0;
      padding: 0;
      height: 100%;
      width: 80%;
      margin: auto;
      display: flex;
      flex-flow: row;
      justify-content: center;

      li {
        float: left;
        height: 50px;
        width: 10%;
        margin: 0;
        flex: 1 0 auto;
        align-items: center;

        a {
          line-height: 50px;
          color: $textcolor1;
          background-color: $textcolor2;
          display: block;
          font-size: 1em;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          text-align: center;

          &:hover {
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* 1440px */
@media (max-width: 90em) {
  #site_wrapper {
    width: 92%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.4rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      /* Style tab links */
      ul {
        .tablink {
          font-size: 0.95em;

          a {
            display: block;
          }
        }
      }
    }

		ul#social {
			height: 40px;
			width: 13%;
			li.social-item {

				a {
					line-height: 40px;
					i.fa-twitter,
					i.fa-facebook,
					i.fa-google,
					i.fa-instagram {
						font-size: 1.25em;

						&:hover {
							transform: scale(1.2);
						}
					}


				}
			}
		}

  }

  main.site_content {

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.7rem;
        }
        p {
          font-size: 1.1em;
        }
      }

      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }
		section#project_page{
			.parent {
        padding: 0;
      }
		}
    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.45em;
			}

      div#abouttext {

        p {
          font-size: 0.95em;
        }
      }


    }

    section#contact{
      width: 100%;
			h2 {
				font-size: 1.45em;
			}
			div#contact_container{

        p {
          font-size: 0.95em;
        }
				section#contact_details{
					width: 40%;
					h3{
						text-indent: 1em;
						font-size: 1.2rem;
					}

					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;

								a {
									font-size: 1em;
								}

								a[href~='mailto']::before {
										font-size: 1em;
								}

								a[title~='follow me on github']::before {
									font-size: 1em;
								}

								a[href~='www.linkedin.com']::before {
									font-size: 1em;
								}

								a[href~='github.com']::before {
									font-size: 1em;
								}
							}
						}
					}
				}

				form#myform {
					width:50%;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}

							label[for="questionitem"]{
								width: 80%;
							}


							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}



							select{
								line-height:40px;
							}


						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}

    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 1em;
        }
      }
    }
  }
}

/* 1280px */
@media (max-width: 80em) {

  #site_wrapper {
    width: 94%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      width: 20%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      width: 55%;

      ul {

        .tablink {
          font-size: 0.9em;

          a {
            text-align: center;
          }
        }
      }
    }
  }

  main.site_content {


    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.05em;
        }
      }

      figure {
        margin: 1em auto;
        width: 280px;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

		section#project_page{
			height:auto;
			.parent {
        padding: 0;
      }
			figure.box {
				width:32.75%;
      }

      figcaption.cover {
        a.cert_link {
          font-size: 1em;
        }

        h2.cert_title {
          font-size: 1em;
        }
      }
		}

    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.4em;
			}

      div#abouttext {

        p {
          font-size: 0.9em;
          line-height: 2.2em;
        }
      }

    }

    section#contact{
      width: 100%;
			h2 {
				font-size: 1.4em;
			}
			div#contact_container{
        p {
          font-size: 0.9em;
          line-height: 1.8em;
        }
				section#contact-details{
					width: 40%;
					h3{
						font-size: 1.15rem;
					}
					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;
								a {
									font-size: 1em;
								}
							}
						}
					}
				}

				form#myform {
					width:50%;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}

							label[for="questionitem"]{
								width: 80%;
							}


							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}



							select{
								line-height:40px;
							}


						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 0.9em;
        }
      }
    }
  }
}

/* 1024px */
@media (max-width: 64em) {
  #site_wrapper {
    width: 96%;
  }
  .site_header {
    hgroup.site-title {
      width: 20%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      width: 50%;
      ul {

        .tablink {
          font-size: 0.85em;

          a {
            display: block;
          }
        }
      }
    }

		ul#social {
			width: 15%;
			li.social-item {

				a {
					line-height: 40px;
					i.fa-twitter,
					i.fa-facebook,
					i.fa-google,
					i.fa-instagram {
						font-size: 1.15em;
						&:hover {
							transform: scale(1.2);
						}
					}
				}
			}
		}

  }

  main.site_content {

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        width: calc(100% - 5%);
        h2 {
          font-size: 2.3rem;
        }
        p {
          font-size: 1em;
        }
      }

      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }
		section#project_page{
			.parent {
        padding: 0;
        width: 100%;
        margin: auto;
      }
		}
    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.3em;
			}

      div#abouttext {
        width: 100%;
        margin-bottom: 1em;

        p {
          line-height: 2.1em;
        }
      }

    }

    section#contact{
      width: 100%;
			h2 {
				font-size: 1.35em;
			}
			div#contact_container{
        p {
          line-height: 1.8em;
        }
				section#contact-details{
					width: 40%;
					h3{
						font-size: 1.15rem;
					}
					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;
								a {
									font-size: 1em;
								}
							}
						}
					}
				}

				form#myform {
					width:50%;
					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}
							label[for="questionitem"]{
								width: 80%;
							}
							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}
							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									label{
										width: 50%;
									}
									input[type="radio"]{
										width: 5%;
									}
								}
							}
							select{
								line-height:40px;
							}
						}
					}
					button#submit {
						font-size:1em;
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
		ul {
      width: 90%;

      li {
        margin: 0;

        a {
          font-size: 0.85em;
        }
      }
    }
  }
}

/* 800px */
@media (max-width: 50em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 20%;
      h1 {
        font-size: 1.1rem;
      }
      h2 {
        font-size: 0.8rem;
      }
    }
    .site_navigation {
      width: 45%;
      ul {
				width:100%;
        .tablink {
          font-size: 0.8em;

          a {
            display: block;
          }
        }
      }
    }

		ul#social  {
			position:fixed;
			top:80px;
			z-index:100;
			left:83vw;
			height: 35px;
			margin:0;
			width: 15%;
			li.social-item {
				width: 32.3%;
				a {
					line-height: 35px;
					i.fa-twitter,
					i.fa-facebook,
					i.fa-google,
					i.fa-instagram {
						font-size: 1.2em;
					}
				}
			}
		}
  }

  main.site_content {
		div#banner,
		section#project_page,
    section#about_content,
    section#contact{
			height:auto;
      margin-bottom: 100px;
    }

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.2rem;
        }
        p {
          font-size: 0.95em;
        }
      }

      figure {
        width: 220px;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

		section#project_page{
			.parent {
        margin: auto;
      }
      figcaption.cover {
        a.cert_link {
          font-size: 1em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
		}

    section#about_content {
      width: 100%;
      flex: 0 0 auto;
      div#abouttext {
        h2 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }

    section#contact{
      width:100%;
			padding:0;
			h2 {
				font-size: 1.3em;
			}
			div#contact_container{
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
        p {
          font-size: 0.9em;
        }
				section#contact-details{
					width: 90%;
					h3{
						text-indent: 0;
						font-size: 1rem;
					}

					address{
						width: 100%;
						ul{
							padding: 0;
							li{
								height:auto;
								font-family: "FontAwesome";
								a {
									font-size: 1em;
									&:hover{
										cursor:pointer;
									}
								}
							}
						}
					}
				}
				form#myform {
					width:90%;
					margin-bottom: 2em;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}
							label[for="questionitem"]{
								width: 80%;
							}
							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}
							select{
								line-height:40px;
							}
						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 90%;

      li {
        margin: 0;

        a {
          font-size: 0.85em;
        }
      }
    }
  }
}

@media(max-width: 667px){

	main.site_content {
		section#project_page{
			figure.box {
				width: 49.75%;
			}
		}
	}
}

/* 600px */
@media (max-width: 37.5em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 35%;
      h1 {
        font-size: 1.05rem;
        line-height: 35px;
      }
      h2 {
        font-size: 0.8rem;
      }
    }
    .site_navigation {
      width: 45%;
      ul {
        .tablink {
          font-size: 0.7em;

          a {
            display: block;
          }
        }
      }
    }

		ul#social {
			height: auto;
			li.social-item {
				width: 32%;
				a {
					line-height: 40px;
					i.fa-twitter,
					i.fa-facebook,
					i.fa-google,
					i.fa-instagram {
						font-size: 1.2em;
					}
				}
			}
		}
  }

  main.site_content {

    div#banner {
      width: 100%;
      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }

      article#bannertext {
        h2 {
          font-size: 2.1rem;
        }
        p {
          font-size: 0.9em;
        }
      }
    }

		section#project_page{
			.parent {
        width: 96%;
      }

      figcaption.cover {
        a.cert_link {
          font-size: 0.9em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
		}

    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.15em;
			}

      div#abouttext {
        p {
          font-size: 0.85em;
        }
      }
    }

    section#contact{
      width: 100%;
			h2 {
				font-size: 1.2em;
			}
			div#contact_container{
        p {
          font-size: 0.85em;
          line-height: 1.8em;
        }
				section#contact-details{
					width: 25%;
					h3{
						text-indent: 0;
						font-size: 1rem;
					}

					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;

								a {
									font-size: 1em;
								}
							}
						}
					}
				}
				form#myform {
					width:94%;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}

							label[for="questionitem"]{
								width: 80%;
							}

							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}

							select{
								line-height:40px;
							}
						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 90%;

      li {
        margin: 0;

        a {
          font-size: 0.8em;
        }
      }
    }
  }
}
/* 480px */
@media (max-width: 30em) {
  .menu-toggle {
    position: relative;
    z-index: 105;
    display: block;
    top: 1vh;
    font-size: 1em;
    text-transform: uppercase;
    background-color: $textcolor1;
    color: $colorwhite;
    border: none;
    transition: all ease-out 0.4s;
    line-height: 50px;
    height: 50px;
    width: 25%;
    text-align: center;
    padding: 0;
    left: calc(75% - 2%);
  }
  .menu-toggle.hide {
    left: 110vw;
  }

  /* Make sure the button doesn't hide when menu is open. */
  .menu-toggle:hover,
  .menu-toggle:focus {
    text-decoration: underline;
    border: solid 2px $textcolor1;
    cursor: pointer;
  }

  .toggled .menu-toggle.hide {
    bottom: 1em;
  }

  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 65%;
      h1 {
        font-size: 1.3rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }

    .show {
      top: 0;
      opacity: 1;
      @include raytransition(all 1s ease);
    }
    .hide {
      top: -405px;
      @include raytransition(all 1s ease);
    }

    .site_navigation {
      position: fixed;
      z-index: 100;
      top: -180px;
      width: 100%;
      height: 180px;
      overflow: hidden;
      margin: 0;
      left: 0;

      ul {
        height: 100%;
				width:100%;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        .tablink {
          height: 60px;
          list-style: none;
          width: 100%;
          display: block;
          margin-bottom: 0;
          font-size: 1em;

          a {
            line-height: 60px;
            margin: 0;
            letter-spacing: 0.1em;
            font-size: 1em;
            text-align: center;
            display: block;
            color: $textcolor2;
            background-color: $textcolor1;
          }
        }
        .tablink:hover {
          font-weight: bold;
          color: $textcolor1;
          cursor: pointer;
        }
      }

      .nav-menu {
        padding: 1em;
        margin-bottom: 3em;
      }
    }

		ul#social {
			li.social-item {
				a {
					line-height: 40px;
					i.fa-twitter,
					i.fa-facebook,
					i.fa-google,
					i.fa-instagram {
						font-size: 1.2em;
					}
				}
			}
		}
  }

  main.site_content {
    height: auto;
    div#banner {
      width: 100%;
      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
      article#bannertext {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 0.85em;
        }
      }
    }

		section#project_page{
			.parent {
        width: 98%;
        margin: auto;

      }
      figcaption.cover {
        position: absolute;

        a.cert_link {
          font-size: 0.9em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
		}

    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.2em;
			}
      div#abouttext {
        p {
          font-size: 0.9em;
        }
      }
    }

    section#contact{
      width: 100%;
			h2 {
				font-size: 1.15em;
			}
			div#contact_container{
        p {
          line-height: 1.8em;
        }
				section#contact-details{
					width: 25%;
					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;

								a {
									font-size: 1em;
								}


							}
						}
					}
				}
				form#myform {
					width:94%;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}

							label[for="questionitem"]{
								width: 80%;
							}


							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}



							select{
								line-height:40px;
							}


						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
		ul {
      width: 94%;

      li {
        margin: 0;

        a {
          font-size: 0.8em;
        }
      }
    }
  }
}

/* 360px */
@media (max-width: 22.5em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      height: 180px;

      ul {
        height: 100%;

        .tablink {
          a {
            font-size: 0.9em;
          }
        }
        .tablink:hover {
          font-weight: bold;
          color: $textcolor1;
          cursor: pointer;
        }
      }

      .nav-menu {
        padding: 1em;
        margin-bottom: 3em;
      }
    }
  }

  main.site_content {
    div#banner {
      width: 100%;
      figure {
        margin: 0 auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
      article#bannertext {
        h2 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1em;
        }
      }
    }

		section#project_page{
			.parent {
        width: 98%;
      }
      figcaption.cover {
        position: absolute;

        a.cert_link {
          font-size: 0.8em;
        }

        h2.cert_title {
          font-size: 0.8em;
        }
      }
		}

    section#about_content {
      width: 100%;
			h2 {
				font-size: 1.1em;
			}
      div#abouttext {
        p {
          font-size: 0.85em;
        }
      }
    }

    section#contact{
      width: 100%;
			div#contact_container{

        h2 {
          font-size: 1.1em;
        }
        p {
          font-size: 0.8em;
          line-height: 1.8em;
        }
				section#contact-details{
					width: 25%;

					address{
						width: 90%;
						ul{
							padding: 0;
							li{
								height:auto;
								a {
									font-size: 1em;
								}
							}
						}
					}
				}
				form#myform {
					width:98%;

					ol {
						margin: 0;
						li {
							height: auto;
							label,
							#comment-header {
								display: block;
							}

							label[for="questionitem"]{
								width: 80%;
							}


							input#myname,
							input#myemail,
							input#myurl{
								line-height: 35px;
							}

							ol#comment-box {
								padding: 0;
								li{
									width:33%;
									height: 30px;
									label{
										width: 50%;
									}

									input[type="radio"]{
										height: 30px;
										width: 5%;
									}
								}
							}



							select{
								line-height:40px;
							}


						}
					}
					button#submit {
						font-size:1em;
						&:hover {
							cursor: pointer;

						}
					}
				}
			}
    }
  }

  .site_footer {
    height: 50px;
		ul {
      width: 98%;

      li {
        margin: 0;

        a {
          font-size: 0.75em;
        }
      }
    }
  }
}
