@import "partials/variables";
@import "partials/mixins";
@import "partials/base";

/* 1680px */
@media (max-width: 105em) {
  .menu-toggle {
    display: none;
  }
  #site_wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    text-indent: 0.5em;
    font-size: 90%;
    z-index: 10;
    background-color: $bgcolor;
    height: 100px;
  }
  .site_header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    left: 0;

    hgroup.site-title {
      width: 20%;
      flex: 1 0 auto;
      h1 {
        font-size: 1.5rem;
        text-align: left;
        line-height: 40px;
      }
      h2 {
        font-size: 1rem;
        text-align: left;
      }
    }

    .site_navigation {
      width: 60%;
      flex: 1 0 auto;
      height: auto;
      margin-bottom: 0.5em;
      ul {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 50%;

        .tablink {
          color: $textcolor1;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 1em;
          flex: 0 0 auto;
          width: 33%;
          line-height: 50px;
          margin: 0;
          @include raytransition(all, 0.5s);
          a {
            display: block;
            text-align: center;
          }
        }
      }

      .tablink:hover {
        font-weight: bold;
        color: $textcolor1;
        cursor: pointer;
      }
    }

    span.social {
      height: 40px;
      width: 20%;
      flex: 1 0 auto;
      text-align: center;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;

      ul#social {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        list-style: none;
        li.social-item {
          width: 32%;
          height: auto;
          margin-right: 0.2em;
          text-align: center;
          -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          a {
            margin: 0;
            font-size: 0.9em;
            text-decoration: none;
            color: $textcolor1;
            display: block;
            width: 100%;
            height: 100%;
            line-height: 40px;
            background-color: $colorwhite;

            object {
              line-height: 40px;
              height: auto;
              color: $colorwhite;
              width: 25%;
              height: 40px;
              display: block;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;

    z-index: 1;
    height: auto;
  }
  #mask3 {
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: inline-flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      overflow: auto;
      transition: all 1s;

      h1 {
        display: block;
        height: auto;
        margin: 0.5em auto;
        text-align: center;
        font-size: 1.5em;
        padding: 0;
        line-height: 50px;
        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
        display: block;
        margin: auto;
      }
    }
  }

  main.site_content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    gap: 1em 0;
    min-height: 80vh;
    width: 100%;
    margin-bottom: 0.5em;

    @keyframes example {
      0% {
        transform: scale(0);
      }
      25% {
        transform: scale(0.25);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .tabcontent {
      opacity: 0;
      transition: opacity 500ms;
    }

    .tabcontent.scrolled {
      opacity: 1;
      animation-name: example;
      animation-duration: 1s;
    }
    div#banner,
    div#about_content,
    div#outro {
      min-height: 82vh;
      margin-bottom: 100px;
    }

    div#banner {
      position: relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex: 0 0 auto;
      height: 100%;

      article#bannertext {
        width: calc(60% - 5%);
        position: relative;
        background-color: #fff;
        padding: 1%;

        h2 {
          font-size: 2.9rem;
          width: auto;
          text-align: left;
          color: $textcolor1;
          text-shadow: 1px 1px $textcolor2;
          line-height: 70px;
        }
        p {
          font-size: 1.1em;
          width: calc(100% - 1%);
          color: $textcolor1;
          text-shadow: 1px 1px $textcolor2;
          line-height: 1.8em;
        }
      }

      figure {
        position: relative;
        z-index: 9;
        display: block;
        padding: 0;
        margin: 1em auto;
        width: 340px;
        border: 10px solid #fff;
      }

      figure > img,
      figure > picture {
        width: auto;
        margin: 0 auto;
        vertical-align: bottom;
      }
    }

    div#banner::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      filter: grayscale(75%);
      background-image: url("../images/sergi-kabrera-2xU7rYxsTiM-unsplash.jpg");
      background-repeat: no-repeat;
      background-position: center; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }

    div#about_content {
      width: 97.7%;
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: space-between;

      article#abouttext {
        width: 48%;
        float: left;
        display: block;
        background-color: $bgcolor;
        padding: 0.25em;

        h2 {
          font-size: 1.5rem;
          text-align: left;
          align-self: flex-start;
          width: 100%;
          line-height: 50px;
        }

        p {
          font-size: 1em;
          width: calc(100% - 1%);
          line-height: 1.9em;
        }
      }

      .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: dense;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 0.25em;
        background-color: $textcolor1;
        width: 50%;
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }

      .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }

      .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }

      .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }

      .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }
      .div7 {
        grid-area: 3 / 1 / 3 / 2;
      }

      .div8 {
        grid-area: 3 / 2 / 3 / 3;
      }

      .div9 {
        grid-area: 3 / 3 / 3 / 4;
      }

      figure.box {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        margin: 0;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: $textcolor2;
      }

      figcaption.cover {
        position: absolute;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        @include raytransition(all 200ms ease-in-out);
        @include raytransform(scale(0));
        font-family: "Ruda", sans-serif;

        a.cert_link {
          width: 85%;
          border: none;
          font-size: 1em;
          cursor: pointer;
          float: none;
          margin: 0 auto;
          text-decoration: none;
          display: block;
          line-height: 40px;
          font-weight: normal;
          background-color: $textcolor1;
          color: $textcolor2;
          text-align: center;

          &:hover {
            font-weight: bold;
          }
        }

        h2.cert_title {
          width: 100%;
          font-size: 1em;
          margin: 0.5em 0;
          line-height: 40px;
          color: $textcolor2;
          text-align: center;
        }
      }

      figure.box:hover figcaption.cover {
        opacity: 1;

        @include raytransform(scale(1));
        cursor: pointer;
      }

      figure.box > img,
      figure > picture {
        margin: 0 auto;
        display: block;
      }

      figure.box:hover img {
        margin: 0 auto;
        display: block;
        opacity: 1;
        @include raytransform(scale(1.1));
      }
    }

    div#outro {
      width: 97.7%;
      flex: 1 0 auto;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: space-between;
      padding: 0.5em;
      height: 100%;
      article#outrotext {
        display: block;
        width: 99.5%;
        background-color: $bgcolor;
        padding: 0.25em;
        h2 {
          font-size: 1.5rem;
          text-align: left;
          align-self: flex-start;
          width: 100%;
          line-height: 50px;
        }
        p {
          font-size: 1em;
          width: calc(100% - 1%);
          line-height: 1.8em;
          a {
            display: inline-block;
            width: auto;
            font-weight: bold;
            &:hover {
              text-decoration: underline;
              font-weight: normal;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .site_footer {
    background-color: $textcolor2;
    width: 100%;
    height: 50px;
    clear: both;
    ul {
      list-style: none;
      margin: auto 0;
      padding: 0;
      height: 100%;
      width: 80%;
      margin: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;

      li {
        float: left;
        height: 50px;
        width: 10%;
        margin: 0;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        a {
          line-height: 50px;
          color: $textcolor1;
          background-color: $textcolor2;
          display: block;
          font-size: 1em;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          text-align: center;

          &:hover {
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* 1440px */
@media (max-width: 90em) {
  #site_wrapper {
    width: 92%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.4rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      /* Style tab links */
      ul {
        .tablink {
          font-size: 0.95em;

          a {
            display: block;
          }
        }
      }
    }

    span.social {
      height: 40px;

      ul#social {
        li.social-item {
          width: 32%;

          a {
            font-size: 0.9em;

            &:hover {
              cursor: pointer;
            }
            object {
              margin: auto;
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 1em 20px;

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.7rem;
        }
        p {
          font-size: 1.1em;
        }
      }

      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

    div#about_content {
      width: 97.7%;

      article#abouttext {
        h2 {
          font-size: 1.45em;
        }

        p {
          font-size: 0.95em;
        }
      }

      .parent {
        padding: 0.25em;
      }
    }

    div#outro {
      width: 97.7%;
      article#outrotext {
        width: 100%;
        h2 {
          font-size: 1.45em;
        }
        p {
          font-size: 0.95em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 1em;
        }
      }
    }
  }
}

/* 1280px */
@media (max-width: 80em) {
  div#banner,
  div#about_content,
  div#outro {
    min-height: 80vh;
  }
  #site_wrapper {
    width: 94%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      width: 25%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      width: 55%;

      ul {
        width: 60%;
        .tablink {
          font-size: 0.9em;

          a {
            text-align: center;
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.5rem;
        }
        p {
          font-size: 1.05em;
        }
      }

      figure {
        margin: 1em auto;
        width: 280px;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

    div#about_content {
      width: 97.7%;

      article#abouttext {
        h2 {
          font-size: 1.4em;
        }

        p {
          font-size: 0.9em;
          line-height: 1.9em;
        }
      }

      .parent {
        padding: 0.25em;
      }

      figcaption.cover {
        a.cert_link {
          font-size: 1em;
        }

        h2.cert_title {
          font-size: 1em;
        }
      }
    }

    div#outro {
      width: 97.7%;
      article#outrotext {
        width: 100%;
        h2 {
          font-size: 1.4em;
        }
        p {
          font-size: 0.9em;
          line-height: 1.8em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 0.9em;
        }
      }
    }
  }
}

/* 1024px */
@media (max-width: 64em) {
  #site_wrapper {
    width: 96%;
  }
  .site_header {
    hgroup.site-title {
      width: 30%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      width: 50%;
      ul {
        width: 70%;
        .tablink {
          font-size: 0.85em;

          a {
            display: block;
          }
        }
      }
    }
    span.social {
      height: 40px;
      width: 20%;

      ul#social {
        li.social-item {
          width: 32%;

          a {
            font-size: 0.9em;

            &:hover {
              cursor: pointer;
            }
            object {
              width: 35%;
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        width: calc(100% - 5%);
        h2 {
          font-size: 2.3rem;
        }
        p {
          font-size: 1em;
        }
      }

      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

    div#about_content {
      width: 97.7%;

      article#abouttext {
        width: 100%;
        margin-bottom: 1em;
        h2 {
          font-size: 1.35em;
        }

        p {
          line-height: 1.8em;
        }
      }

      .parent {
        padding: 0.25em;
        width: 90%;
        margin: auto;
      }
    }

    div#outro {
      width: 97.7%;
      article#outrotext {
        width: 100%;
        h2 {
          font-size: 1.35em;
        }
        p {
          line-height: 1.8em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

/* 800px */
@media (max-width: 50em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 35%;
      h1 {
        font-size: 1.1rem;
      }
      h2 {
        font-size: 0.8rem;
      }
    }
    .site_navigation {
      width: 45%;
      ul {
        width: 80%;
        .tablink {
          font-size: 0.8em;

          a {
            display: block;
          }
        }
      }
    }
    span.social {
      height: 40px;

      ul#social {
        li.social-item {
          width: 32%;
          a {
            font-size: 0.8em;
            object {
              width: 45%;
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    div#banner {
      flex: 0 0 auto;

      article#bannertext {
        h2 {
          font-size: 2.2rem;
        }
        p {
          font-size: 0.95em;
        }
      }

      figure {
        width: 220px;
      }
      figure > img,
      figure > picture {
        display: block;
      }
    }

    div#about_content {
      width: 97.7%;
      flex: 0 0 auto;

      article#abouttext {
        h2 {
          font-size: 1.3em;
        }
        p {
          font-size: 0.9em;
        }
      }

      .parent {
        margin: auto;
      }
      figcaption.cover {
        a.cert_link {
          font-size: 1em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
    }

    div#outro {
      width: 97.7%;
      article#outrotext {
        width: 100%;
        h2 {
          font-size: 1.3em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 0.85em;
        }
      }
    }
  }
}

/* 600px */
@media (max-width: 37.5em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 35%;
      h1 {
        font-size: 1.05rem;
        line-height: 35px;
      }
      h2 {
        font-size: 0.8rem;
      }
    }
    .site_navigation {
      width: 45%;
      ul {
        .tablink {
          font-size: 0.7em;

          a {
            display: block;
          }
        }
      }
    }

    span.social {
      height: 40px;
      width: 15%;
      ul#social {
        li.social-item {
          width: 31%;

          a {
            font-size: 0.9em;

            &:hover {
              cursor: pointer;
            }
            object {
              width: 55%;
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;

    div#banner {
      width: 100%;
      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }

      article#bannertext {
        h2 {
          font-size: 2.1rem;
        }
        p {
          font-size: 0.9em;
        }
      }
    }

    div#about_content {
      width: 95%;

      article#abouttext {
        h2 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.85em;
        }
      }

      .parent {
        width: 95%;
      }

      figcaption.cover {
        a.cert_link {
          font-size: 0.9em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
    }

    div#outro {
      width: 95%;
      article#outrotext {
        h2 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.85em;
          line-height: 1.8em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
    ul {
      width: 80%;

      li {
        margin: 0;

        a {
          font-size: 0.8em;
        }
      }
    }
  }
}
/* 480px */
@media (max-width: 30em) {
  .menu-toggle {
    position: relative;
    z-index: 105;
    display: block;
    top: 1vh;
    font-size: 1em;
    text-transform: uppercase;
    background-color: $textcolor1;
    color: $colorwhite;
    border: none;
    transition: all ease-out 0.4s;
    line-height: 50px;
    height: 50px;
    width: 25%;
    text-align: center;
    padding: 0;
    left: calc(75% - 2%);
  }
  .menu-toggle.hide {
    left: 110vw;
  }

  /* Make sure the button doesn't hide when menu is open. */
  .menu-toggle:hover,
  .menu-toggle:focus {
    text-decoration: underline;
    border: solid 2px $textcolor1;
    cursor: pointer;
  }

  .toggled .menu-toggle.hide {
    bottom: 1em;
  }

  #site_wrapper {
    width: 98%;
  }
  .site_header {
    hgroup.site-title {
      width: 65%;
      h1 {
        font-size: 1.3rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }

    .show {
      top: 0;
      opacity: 1;
      @include raytransition(all 1s ease);
    }
    .hide {
      top: -405px;
      @include raytransition(all 1s ease);
    }

    .site_navigation {
      position: fixed;
      z-index: 100;
      top: -180px;
      width: 100%;
      height: 180px;
      overflow: hidden;
      margin: 0;
      left: 0;

      ul {
        height: 100%;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        .tablink {
          height: 60px;
          list-style: none;
          width: 100%;
          display: block;
          margin-bottom: 0;
          font-size: 1em;

          a {
            line-height: 60px;
            margin: 0;
            letter-spacing: 0.1em;
            font-size: 1em;
            text-align: center;
            display: block;
            color: $textcolor2;
            background-color: $textcolor1;
          }
        }
        .tablink:hover {
          font-weight: bold;
          color: $textcolor1;
          cursor: pointer;
        }
      }

      .nav-menu {
        padding: 1em;
        margin-bottom: 3em;
      }
    }
    span.social {
      height: 40px;

      ul#social {
        width: 100%;
        li.social-item {
          width: 33%;
          a {
            font-size: 0.9em;
            &:hover {
              cursor: pointer;
            }
            object {
              width: 50%;
            }
          }
        }
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    gap: 2em 20px;
    min-height: unset;
    height: auto;

    div#banner {
      width: 100%;
      figure {
        margin: 1em auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
      article#bannertext {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 0.85em;
        }
      }
    }

    div#about_content {
      width: 95%;

      article#abouttext {
        h2 {
          font-size: 1.2em;
        }
        p {
          font-size: 0.9em;
        }
      }

      .parent {
        width: 98%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
      }

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }
      .div5 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div6 {
        grid-area: 3 / 2 / 4 / 3;
      }
      .div7 {
        grid-area: 4 / 1 / 5 / 2;
      }
      .div8 {
        grid-area: 4 / 2 / 5 / 3;
      }
      .div9 {
        grid-area: 5 / 1 / 6 / 2;
      }

      figcaption.cover {
        position: absolute;

        a.cert_link {
          font-size: 0.9em;
        }

        h2.cert_title {
          font-size: 0.9em;
        }
      }
    }

    div#outro {
      width: 95%;

      article#outrotext {
        h2 {
          font-size: 1.15em;
        }
        p {
          line-height: 1.8em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}

/* 360px */
@media (max-width: 22.5em) {
  #site_wrapper {
    width: 98%;
  }
  .site_header {
    height: 100px;
    hgroup.site-title {
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 0.9rem;
      }
    }
    .site_navigation {
      height: 180px;

      ul {
        height: 100%;

        .tablink {
          a {
            font-size: 0.9em;
          }
        }
        .tablink:hover {
          font-weight: bold;
          color: $textcolor1;
          cursor: pointer;
        }
      }

      .nav-menu {
        padding: 1em;
        margin-bottom: 3em;
      }
    }
  }

  #collection-boxes {
    position: relative;
  }

  #mask3 {
    width: 100%;
    min-height: 300px;

    .unfade {
      opacity: 0;
    }

    .fade {
      opacity: 1;
    }

    article.collection-box {
      position: absolute;

      h1 {
        font-size: 1.3em;

        &:hover {
          cursor: pointer;
        }
      }

      img {
        width: 60%;
      }
    }
  }

  main.site_content {
    div#banner {
      width: 100%;
      figure {
        margin: 0 auto;
      }
      figure > img,
      figure > picture {
        display: block;
      }
      article#bannertext {
        h2 {
          font-size: 1.8rem;
        }
        p {
          font-size: 1em;
        }
      }
    }

    div#about_content {
      width: 95%;
      article#abouttext {
        h2 {
          font-size: 1.1em;
        }
        p {
          font-size: 0.85em;
        }
      }

      .parent {
        width: 98%;
      }
      figcaption.cover {
        position: absolute;

        a.cert_link {
          font-size: 0.8em;
        }

        h2.cert_title {
          font-size: 0.8em;
        }
      }
    }

    div#outro {
      width: 95%;
      article#outrotext {
        h2 {
          font-size: 1.1em;
        }
        p {
          font-size: 0.8em;
          line-height: 1.8em;
        }
      }
    }
  }

  .site_footer {
    height: 50px;
  }
}
