@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type; // Android < 2.3, iOS < 4
  -moz-box-sizing: $type; // Firefox < 29
  box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin boredrady($shadow...) {
  -webkit-border-radius: $shadow;
  -moz-border-radius: $shadow;
  -o-border-radius: $shadow;
  border-radius: $shadow;
}

@mixin transitioner($transitioner...) {
  -webkit-transition: $transitioner;
  -moz-transition: $transitioner;
  -o-transition: $transitioner;
  transition: $transitioner;
}

@mixin transforming-things($transforming-things...) {
  transform: $transforming-things;
  -webkit-transform: $transforming-things;
  -moz-transform: $transforming-things;
  -o-transform: $transforming-things;
}

html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Ruda", Sans-Serif;
  padding: 0;
  margin: 0;
  color: #000;
}

p {
  font-family: "Roboto Slab", Serif;
  line-height: 1.7em;
  font-size: 1rem;
}
body {
  background-color: #fff;
}

#site_wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.site_header {
  height: 100px;
  width: 100%;
  margin-bottom: 0.5em;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}

#collection-boxes {
  position: relative;
  z-index: 1;
  height: auto;
}

#mask3 {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  .unfade {
    opacity: 0;
  }

  .fade {
    opacity: 1;
  }

  article.collection-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    transition: all 1s;

    h1 {
      display: block;

      height: auto;
      line-height: 1.5;
      margin: 0.5em auto;
      text-align: center;
      font-size: 1.5em;
      margin: 0.25em 0 0 0;
      padding: 0;
      line-height: 50px;
      text-shadow: unset;

      &:hover {
        cursor: pointer;
      }
    }
    /*Drop Cap*/
    p.collection-text {
      letter-spacing: 0.05em;
      padding: 1em;
      max-width: 100%;
      width: auto;
      margin: 0.5em;
      line-height: 1.5em;
      font-size: 1em;
    }
    img {
      width: 60%;
      display: block;
      margin: auto;
    }
  }

  /* Next & previous buttons */

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    z-index: 10;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
  }
}

.site_content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1em 20px;
  min-height: 80vh;

  h2 {
    text-align: left;
    font-size: 1.5rem;
  }

  .intro {
    width: 49%;
    flex: 1 0 auto;
    padding: 0;
    border-radius: 50px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;

    h2,
    p {
      width: 100%;
    }
  }
  .container_1 {
    width: 39%;
    flex: 1 0 auto;
    margin-bottom: 0.5em;
    img {
      width: 70%;
      margin: auto;
      display: block;
      border-radius: 50%;
    }
  }
  .container_2 {
    width: 39%;
    flex: 1 0 auto;
    .parent {
      display: grid;
      grid-template-columns: repeat(3, 33%, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px;
    }

    @keyframes example {
      0% {
        transform: scale(0);
      }
      25% {
        transform: scale(0.25);
      }
      50% {
        transform: scale(0.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .pill {
      animation-name: example;
      animation-duration: 1s;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      background-image: url("images/codecademy-js.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("images/freecodecamp-org-certification-javascript.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
      background-image: url("images/freecodecamp-org-certification-responsive-web-design.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .div4 {
      grid-area: 2 / 1 / 3 / 2;
      background-image: url("images/lynda_logo1r-d_72x72.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .div5 {
      grid-area: 2 / 2 / 3 / 3;
      background-image: url("images/codewars.png");
      background-repeat: no-repeat;
      //background-size: cover;
      background-position: 20% 50%;
    }
    .div6 {
      grid-area: 2 / 3 / 3 / 4;
      background-image: url("images/codecademy-ruby.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    figure.box {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      height: 150px;
      padding: 0;
      margin: 0;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    figcaption.cover {
      position: absolute;
      z-index: 10;
      background: rgba(51, 51, 51, 0.5);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0;
      @include transitioner(all 200ms ease-in-out);
      @include transforming-things(scale(0));
      font-family: "Ruda", Sans-Serif;
      a.cert_link {
        width: 86%;
        border: none;
        font-size: 0.85em;
        cursor: pointer;
        float: none;
        margin: 0 auto;
        text-decoration: none;
        display: block;
        line-height: 40px;
        font-weight: normal;
        background-color: #fff;
        color: #000;
        text-align: center;

        &:hover {
          font-size: 0.95em;
          font-weight: normal;
        }
      }

      h1.cert_title {
        width: 100%;
        font-size: 1em;
        margin: 0.5em 0;
        line-height: 40px;
        color: #fff;
        text-align: center;
      }
    }

    figure.box:hover figcaption.cover {
      opacity: 1;
      @include transforming-things(scale(1));
      cursor: pointer;
    }
  }
  .whyidoit {
    width: 54%;
    flex: 1 0 auto;
    padding: 0;
    border-radius: 50px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    h2,
    p {
      width: 100%;
    }
  }
  .outro {
    width: 93%;
    flex: 1 0 auto;
    padding: 0;
    border-radius: 50px;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    min-height: 300px;
    h2,
    p {
      width: 100%;
    }
  }
}

.site_footer {
  background-color: rgb(89, 4, 122);
  width: 100%;
  height: 50px;
}
