$color-black: #272643;
$color-white: #e7e8e3;
$bgcolor-white: #fdfeff;
$green-color: #589156;
$yellow-color: #d4a94a;
$red-color: #cd3f38;
/*  contact form errors */
$error-color-bg: #d30d0d;
$error-color-border: #fc8888;
$ok-color-bg: #b0f1b0;
$ok-color-border: #4ef34e;

$font-header: "Cabin Bold", "Trebuchet MS", Helvetica, sans-serif;
$font-text: "Open Sans Regular", Arial, Helvetica, sans-serif;
