html {
  @include box-sizing(border-box);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "FontName", Helvetica, Arial, sans-serif;
  background-color: $bgcolor;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: $textcolor1;
  letter-spacing: -0.01em;
}

p {
  font-family: "Lato", serif;
  line-height: 1.7em;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5em;
  color: $textcolor1;
}

a {
  text-decoration: none;
  font-family: "Arvo", sans-serif;
  color: $textcolor1;
}

hr {
  margin: 1em auto;
  width: 80%;
  display: block;
  color: $textcolor1;
}

.screenreader-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input:hover,
textarea:hover,
input:focus,
select,
textarea:focus {
  border-color: $pageTwobgcolor;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 3px;
  background-color: $pageTwobgcolor;
  outline: none;
  display: block;
}
