@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type; // Android < 2.3, iOS < 4
	-moz-box-sizing: $type; // Firefox < 29
	box-sizing: $type; // Chrome, IE 8+, Opera, Safari 5.1
}

@mixin raytransition($transitioner...) {
	-webkit-transition: $transitioner;
	-moz-transition: $transitioner;
	-o-transition: $transitioner;
	transition: $transitioner;
}

@mixin raytransform($raytransform...) {
	transform: $raytransform;
	-webkit-transform: $raytransform;
	-moz-transform: $raytransform;
	-o-transform: $raytransform;
}

@mixin transformerorigin($transformerorigin) {
	transform-origin: $transformerorigin;
	-webkit-transform-origin: $transformerorigin;
	-moz-transform-origin: $transformerorigin;
	-o-transform-origin: $transformerorigin;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{ $name } {
		@content;
	}
	@-moz-keyframes #{ $name } {
		@content;
	}
	@-o-keyframes #{ $name } {
		@content;
	}
	@keyframes #{ $name } {
		@content;
	}
}
