$textcolor1: #000;
$textcolor2: #fff;
$textcolor3: #464866;
$textcolor4: #aaabb8;
$bgcolor: #25274d;
$maincontentcolor: #25274d;
$Homepagebgcolor: #2e9cca;
$pageTwobgcolor: #29648a;
$pageThreebgcolor: #287386;

$colorblack: #000;
$colorwhite: #fff;
