$textcolor1: #000000;
$textcolor2: #ffffff;
$textcolor3: #464866;
$textcolor4: #aaabb8;
$bgcolor: #efefef;
$maincontentcolor: #25274d;
$pageTwobgcolor: #dee2f7;
$colorblack: #000000;
$colorwhite: #ffffff;
