@import "variables";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}

*::before,
*::after {
  box-sizing: inherit;
}

// hide text for screen readers
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: $bgcolor;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $font-header;
  padding: 0;
  margin: 0;
  color: $color-white-1;
}

p {
  font-family: $font-text;
  line-height: 1.7em;
  margin: 0;
  color: $color-white-1;
  letter-spacing: 0.01em;
}

a {
  color: $color-white-1;
}

hr {
  margin: 1em auto;
  width: 70%;
  display: block;
  color: $color-black;
}
