$color-black: #2a2b2a;
$color-white-1: #e7e8e3;
$color-white-2: #e3e4df;
$bgcolor: #2a2b2a;
$bgcolor2: #dee2f7;
$green-color: #589156;
$green-color2: #88a61c; /* bob poster */
$yellow-color: #d4a94a;
$red-color: #cd3f38;
/*  contact form errors */
$error-color-bg: rgb(255 204 204);
$error-color-border: rgb(252 136 136);
$ok-color-bg: rgb(176 241 176);
$ok-color-border: rgb(78 243 78);

$font-header: "Cabin Regular", "Helvetica", "Arial", "Verdana", "Tahoma",
  "sans-serif";
$font-text: "Amaranth Regular", "Helvetica", "Arial", "Verdana", "Tahoma",
  "sans-serif";
$fallback: "Helvetica", "Arial", "Verdana", "Tahoma", "sans-serif";
