$color-black: #272643;
$color-white: #e7e8e3;
$bgcolor-white: #dee2f7;
$green-color: #589156;
$yellow-color: #d4a94a;
$red-color: #cd3f38;
/*  contact form errors */
$error-color-bg: rgb(255 204 204);
$error-color-border: rgb(252 136 136);
$ok-color-bg: rgb(176 241 176);
$ok-color-border: rgb(78 243 78);

$font-header: "Cabin Regular", "Trebuchet MS", Helvetica, sans-serif;
$font-text: "Open Sans Regular", Arial, Helvetica, sans-serif;
