// #ebebec - white*
// #adadaf - light grey*
// #000000 - black*
// #7e7e80 - dark grey*
// #bdbdc0 - lighter grey*
// #353536 - darker grey*
$color-black: #000000;
$color-white-1: #ffffff;
$color-white-2: #ebebec;
$color-darkgrey-1: #353536;
$color-darkgrey-2: #7e7e80;
$color-lightgrey-1: #adadaf;
$color-lightgrey-2: #bdbdc0;
$bgcolor: #efefef;
$bgcolor2: #dee2f7;
$color-black2: #262425;
$color-white2: #f5f2e4;
$greencolor: #88a61c; //bob poster

$border-color: rgb(190, 189, 189);

$fontHeader: "Cabin Regular", "Trebuchet MS", Arial, sans-serif;
$fontText: "Amaranth Regular", "candara", Arial, serif;
// $fontHeader: "Arvo", Helvetica, Arial, sans-serif;
// $fontText: "Lato", serif;
$fallback: Helvetica, Arial, sans-serif;
